.mainContainer {
  display: flex;
  justify-content: center;
  max-width: 1024px;
  padding: 64px;
  margin: auto;
}

.tableContainer {
 display: flex;
 justify-content: center;
 width: 100%;
 padding: 64px;
 max-width: 800px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.subheader {
  text-align: center;
  color: gray;
  margin-top: 16px;
  margin-bottom: 20px;
}

.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  max-width: 200px;
}


