.table {
  border-collapse: collapse;
}


.tr {
  border-bottom: 1px solid rgba(128, 128, 128, 0.459);
}

.th {
  padding: 10px;
  text-align: start;
}

.td {
  padding: 15px 10px;
  text-align: start;
}